<div class="q-page event-list">
  <div class="resource-body">

    <div class="nav nav-tabs">

      <div class="drop-menu pull-left brand-selector" uib-dropdown>
        <div uib-dropdown-toggle translate>
          {{ ctrl.filter.text}}
        </div>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li role="menuitem" ng-repeat="filter in ctrl.filters">
            <a ng-click="ctrl.goFilter(filter)" translate>
              {{ filter.text }}
  	        </a>
          </li>
        </ul>
      </div>

      <button class="btn btn-mute btn-default btn-sm pull-right" ng-click="ctrl.autoLoad()" translate="REFRESH"></button>

      <div class="check-filters pull-right">
        <input type="checkbox" ng-model="ctrl.unsolved" ng-change="ctrl.autoLoad()"><span translate>HIDE_SOLVED_EVENTS</span>
        <input type="checkbox" ng-model="ctrl.active" ng-change="ctrl.autoLoad()"><span translate>HIDE_IGNORABLE_EVENTS</span>
      </div>
    </div>

    <div class="content">

      <table class="q-table">
        <thead>
          <tr>
            <th></th>
            <th translate>TYPE</th>
            <th translate>SUB_TYPE</th>
            <th translate>LEVEL</th>
            <th translate>TIME</th>
            <th translate>EVENT_CONTENT</th>
            <th translate>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="(ctrl.data.items.length == 0) && ctrl.loaded">
            <td colspan="7" class="text-center text-sub" translate>EMPTY</td>
          </tr>
          <tr ng-repeat="s in ctrl.data.items">
            <td>
            </td>
            <td translate="{{s.type.toUpperCase()}}"></td>
            <td translate="{{s.subType.toUpperCase()}}"></td>
            <td>
              <status-tag
                  label="s.level.toUpperCase()"
                  type="s.level | commonStatusTypeFilter"></status-tag>
            </td>
            <td>{{s.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td class="wrap">{{s.summary}}</td>
            <td>
              <a translate="IGNORE" ng-hide="s.ignored" ng-click="ctrl.ignore(s)"></a>
            </td>
          </tr>
          <tr ng-if="!ctrl.loaded && !ctrl.data.items">
            <td colspan="7" class="text-center text-sub">
              <qn-loading></qn-loading>
            </td>
          </tr>
        </tbody>
      </table>
      <div uib-pagination
        ng-show="ctrl.data.total > ctrl.data.perpage"
        force-ellipses="true"
        total-items="ctrl.data.total"
        items-per-page="ctrl.data.perpage"
        ng-model="ctrl.data.page"
        ng-change="ctrl.pageChanged()"
        max-size="5"
        class="pagination-sm pull-right"></div>
    </div>

  </div>
</div>
