<div class="q-page alerts">
  <div class="resource-body">

    <ul class="nav nav-tabs">
      <li class="active">
        <a translate="CONFIG"></a>
      </li>
    </ul>

    <!-- 告警配置 -->
    <div class="tab-content">
      <qn-loading ng-if="!ctrl.loaded"></qn-loading>

      <form name="ctrl.configForm" ng-if="ctrl.loaded">


        <div class="item">
          <div class="item-title" translate="STATUS"></div>
          <div class="item-body">
            <label class="switcher" ng-click="ctrl.preventBubble($event)">
              <input ng-change="ctrl.edit(inst)" type="checkbox" ng-model="ctrl.newConfig.alertStatus">
              <span></span>
            </label>
          </div>
        </div>
        <div class="item" ng-if="ctrl.newConfig.alertStatus">
          <div class="item-title">App ID</div>
          <div class="item-body">
            <div class="form-group form-inline" ng-class="{ 'has-error': ctrl.configForm.appid.$invalid }">
              <input type="text"
                name="appid"
                class="form-control"
                ng-model="ctrl.newConfig.alertAppId" required>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-emphasis"
          ng-show="ctrl.configForm.$dirty"
          ng-disabled="ctrl.configForm.$invalid"
          ng-click="ctrl.update()"
          translate="UPDATE"></button>
        <button class="btn btn-primary btn-mute"
          ng-show="ctrl.configForm.$dirty"
          ng-click="ctrl.reset()"
          translate="CANCEL"></button>
      </form>
    </div>

  </div>
</div>
