<div class="q-page change-password">

  <div class="wrapper">
    <div class="title">
      <i class="fa fa-lock"></i>
      <p translate>CHANGE_PASSWORD</p>
    </div>

    <div class="content">
      <div class="item">
        <input type="password" ng-model="ctrl.oldPassword" class="form-control"
          placeholder="{{'OLD_PASSWORD' | translate}}"
          ng-class="{ 'error': ctrl.errors.oldPassword }"
          ng-change="ctrl.errors.oldPassword = (!ctrl.oldPassword || ctrl.oldPassword.length <= 0)">
        <p class="help-block text-left" ng-show="ctrl.errors.oldPassword" translate>PASSWORD_EMPTY</p>
      </div>

      <div class="item">
        <input type="password" ng-model="ctrl.newPassword" class="form-control"
          placeholder="{{'NEW_PASSWORD' | translate}}"
          ng-class="{ 'error': ctrl.errors.newPassword }"
          ng-change="ctrl.errors.newPassword = (!ctrl.newPassword || ctrl.newPassword.length <= 0)">
        <p class="help-block text-left" ng-show="ctrl.errors.newPassword" translate>NEW_PASSWORD_EMPTY</p>
      </div>

      <div class="item">
        <input type="password" class="form-control"
          placeholder="{{'CONFIRM' | translate}}"
          ng-model="ctrl.confirm"
          ng-class="{ 'error': ctrl.errors.confirm }"
          ng-change="ctrl.errors.confirm = (ctrl.newPassword !== ctrl.confirm)">
        <p class="help-block text-left" ng-show="ctrl.errors.confirm" translate>PASSWORD_NOT_SAME</p>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-lg btn-primary btn-emphasis" ng-click="ctrl.save()" translate>CONFIRM</button>
    </div>
  </div>

</div>
