<div class="q-page common-resource-list">
  <div class="resource-body">

    <ul class="nav nav-tabs">
      <li ng-repeat="tab in ctrl.tabs" ng-class="{active: tab == ctrl.currentTab}">
        <a translate="{{tab}}" ng-click="ctrl.currentTab = tab"></a>
      </li>

      <button class="btn btn-sm btn-mute btn-default pull-right" ng-click="ctrl.onUpdate()" translate="REFRESH"></button>
      <date-range
        class="pull-right"
        config="['hour', 'day', 'week']"
        ng-show="ctrl.currentTab == ctrl.tabs[1]"
        on-change="ctrl.onDateChange(dateStart, dateEnd)">
      </date-range>
    </ul>

    <!-- 实时状态 -->
    <div class="tab-content" ng-if="ctrl.currentTab == ctrl.tabs[0]">
      <table class="q-table">
        <thead>
          <tr>
            <th></th>
            <th translate>INSTANCES</th>
            <th translate>STATUS</th>
            <th translate>RESPONSE_TIME</th>
            <th translate>TRANSACTION_NUMBER</th>
            <th translate>THROUGHPUT</th>
            <th translate>ERROR_RATE</th>
            <th translate>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="(ctrl.realtimeTab.data.length == 0) && ctrl.realtimeTab.loaded">
            <td colspan="8" class="text-center text-sub" translate>EMPTY</td>
          </tr>
          <tr ng-repeat="inst in ctrl.realtimeTab.data">
            <td>
              <!--<i class="fa fa-{{ctrl.$state.$current.data.icon}}"></i>-->
            </td>
            <td><a ng-click="ctrl.gotoInstance(inst)">{{inst.instance}}</a></td>
            <td>
              <status-tag
                  label="inst.status.toUpperCase()"
                  type="inst.status | commonStatusTypeFilter"></status-tag>
            </td>
            <td>{{inst.responseTime | tableNumber:0}} ms</td>
            <td>{{inst.transaction | tableNumber:0}} tps</td>
            <td>
              <span>↑</span> {{inst.throughputUp | tableNumber:0 | bandwidth:2}}<br>
              <span>↓</span> {{inst.throughputDown | tableNumber:0 | bandwidth:2}}
            </td>
            <td>{{inst.errorRate | tableNumber:2}} %</td>
            <td><a ng-click="ctrl.gotoServer(inst.host)" translate>SERVER_DETAIL</a></td>
          </tr>
          <tr ng-if="!ctrl.realtimeTab.loaded">
            <td colspan="8" class="text-center text-sub">
              <qn-loading></qn-loading>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 性能图表 -->
    <div class="tab-content" ng-if="ctrl.currentTab == ctrl.tabs[1]">
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.responseTime'></qn-chart>
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.transaction'></qn-chart>
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.errorRate'></qn-chart>
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.throughput'></qn-chart>
    </div>

  </div>
</div>
