<ul class="actions navbar-actions">
  <li class="action user-info" uib-dropdown>
    <a uib-dropdown-toggle>
      <i class="fa fa-user-o"></i>
      <span translate>用户</span>
    </a>
    <div class="dropdown-user" uib-dropdown-menu>
      <div>
        <table class="user-account">
          <tbody>
            <tr>
              <td>用户</td>
              <td>{{ctrl.user.name}}</td>
            </tr>
            <tr>
              <td>角色</td>
              <td><status-tag label="'管理员'" type="'normal'"></status-tag></td>
            </tr>
          </tbody>
        </table>
      </div>
      <ul>
        <li>
          <a href class="text-sub" ng-click="ctrl.signOut()">
            <i class="fa fa-sign-out"></i>
            <span translate>注销</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
