<button type="button" class="close" ng-click="$dismiss()"><i class="qi qi-close"></i></button>

<div class="modal-center-wrapper">
  <div class="modal-header">
    <h6 class="modal-title text-center bold" translate="MIGRATION_WINDOW"></h6>
  </div>

  <div class="modal-body migration-window-modal">
    <div class="form-group form-inline text-center center-block">
      <div class="row">
        <div class="form-group form-inline" ng-class="{'has-error': !validate(range.start, range.end)}">
          <select class="form-control" name="start" ng-model="range.start">
            <option ng-repeat="s in hours" value="{{s}}">{{s}}:00</option>
          </select>
        </div>
        <span translate="TO"></span>
        <div class="form-group form-inline" ng-class="{'has-error': !validate(range.start, range.end)}">
          <select class="form-control" name="end" ng-model="range.end">
            <option ng-repeat="e in hours" value="{{e}}">{{e}}:00</option>
          </select>
        </div>
      </div>
      <p ng-show="!validate(range.start, range.end)" class="message text-danger text-center" translate="MIGRATION_WINDOW_MESSAGE_ERROR"></p>

    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button type="button" class="btn btn-default btn-lg btn-mute"
        ng-click="$dismiss()"
        translate="CANCEL"></button>
      <button type="button" class="btn btn-primary btn-lg btn-emphasis"
        ng-click="$close(range)"
        ng-disabled="!validate(range.start, range.end)"
        translate="CONFIRM"></button>
    </div>
  </div>
</div>

