<div class="q-page dashboard">
  <div class="resource-body">

    <div ng-if="!ctrl.user.namespace" class="resource-body clearfix">
      <p class='warning'>
        <i class="fa fa-warning"></i>
        <span translate>NO_ASSIGNED_NAMESPACE</span>
      </p>
    </div>

    <div ng-if="ctrl.user.namespace" class="blocks">
      <div class="block used-cap">
        <div class="info text-center">
          {{ctrl.namespace.usedCap | fileSize:2}}
        </div>
        <div class="title text-center" translate>USED_CAPACITY</div>
      </div>
      <div class="block obj-num">
        <div class="info text-center">
          {{ctrl.namespace.objNum}}
        </div>
        <div class="title text-center" translate>OBJECT_NUMBER</div>
      </div>
      <div class="block buckt-info">
        <div class="info text-center">
          {{ctrl.namespace.bucketNum}}
        </div>
        <div class="title text-center" translate>BUCKETS_NUMBER</div>
      </div>
      <div class="block history-link" ui-sref="^.history">
        <div class="info text-center" translate>
          HISTORY
        </div>
        <!-- <div class="title text-center"> </div> -->
      </div>
    </div>

  </div>
</div>
