<button type="button" class="close" ng-click="$dismiss()"><i class="qi qi-close"></i></button>

<div class="modal-center-wrapper">
  <div class="modal-header">
    <h6 class="modal-title text-center bold" translate="CHANGE_PASSWORD"></h6>
  </div>

  <div class="modal-body user-modal modal-user-change-password">
    <div class="form-group form-inline text-center center-block">
      <form name="passwordForm" class="center-form clearfix">

        <div class="row">
          <div class="item-title col-md-3">
            <span translate="NEW_PASSWORD"></span>
          </div>
          <div class="item-body col-md-9">
            <div class="form-group form-inline"
              ng-class="{ 'has-error': passwordForm.password.$invalid && passwordForm.password.$dirty }">
              <input type="password" class="form-control" name="password"
                ng-disabled="ctrl.isSubmitting"
                ng-model="ctrl.password"
                required
                ng-model-options="ctrl.ngModelOptions">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="item-title col-md-3">
            <span translate="CONFIRM"></span>
          </div>
          <div class="item-body col-md-9">
            <div class="form-group form-inline"
              ng-class="{ 'has-error': passwordForm.confirm.$invalid && passwordForm.confirm.$dirty }">
              <input type="password" class="form-control" name="confirm"
                ng-disabled="ctrl.isSubmitting"
                ng-model="ctrl.confirm"
                required
                validate-same-with="ctrl.password"
                ng-model-options="ctrl.ngModelOptions">
            </div>
          </div>
        </div>

      </form>
      <qn-loading ng-show="ctrl.isSubmitting"></qn-loading>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button type="button" class="btn btn-default btn-lg btn-mute"
        ng-click="$dismiss()"
        translate="CANCEL"
        ng-disabled="ctrl.isSubmitting"></button>
      <button type="button" class="btn btn-primary btn-lg btn-emphasis"
        ng-click="ctrl.submit()"
        ng-disabled="ctrl.isSubmitting || passwordForm.$invalid"
        translate="CONFIRM"></button>
    </div>
  </div>
</div>

