<div class="q-page manage-keys">
  <div ng-if="ctrl.namespaceId" class="resource-body clearfix">

    <div class="actions clearfix">

      <div class="brand-name pull-left">
        {{ctrl.namespaceName}}
      </div>

      <a class="btn btn-primary pull-left"
        ng-click="ctrl.addKey()"
        ng-disabled="!(ctrl.data.items.length < 2)">
        <span translate>NEW</span><span translate>KEY</span>
      </a>

      <button class="btn btn-mute btn-default pull-right" ng-click="ctrl.refresh()" translate="REFRESH"></button>
    </div>

      <div class="content">

        <table class="q-table">
          <thead>
            <tr>
              <th></th>
              <th translate>CREATED_TIME</th>
              <th translate>AK_SK</th>
              <th translate>STATUS</th>
              <th translate>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="(ctrl.data.items.length == 0) && ctrl.loaded">
              <td colspan="5" class="text-center text-sub" translate>EMPTY</td>
            </tr>
            <tr ng-repeat="key in ctrl.data.items">
              <td class="row-icon"><i class="fa fa-key"></i></td>
              <td>{{key.ctime | date : 'yyyy-MM-dd'}}</td>
              <td>
                <ak-sk-display key="key"></ak-sk-display>
              </td>
              <td>
                <status-tag
                  label="key.status.toUpperCase()"
                  type="key.status | commonStatusTypeFilter"></status-tag>
              </td>
              <td>
                <button class="btn-action action" ng-click="ctrl.suspendKey(key)" ng-show="key.status=='active'" ng-disabled="ctrl.data.items.length == 1 || ctrl.isOnlyOneActive()" translate>SUSPEND</button>
                <button class="btn-action action" ng-click="ctrl.resumeKey(key)" ng-show="key.status=='inactive'" translate>RESUME</button>
                <button class="btn-action action" ng-click="ctrl.deleteKey(key)" ng-show="key.status=='inactive'" ng-disabled="ctrl.data.items.length == 1" translate>DELETE</button>
              </td>
            </tr>
            <tr ng-if="!ctrl.loaded">
              <td colspan="5" class="text-center text-sub">
                <qn-loading></qn-loading>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

  </div>

  <div ng-if="!ctrl.namespaceId" class="resource-body clearfix">
    <p class='warning'>
      <i class="fa fa-warning"></i>
      You have not been assigned to manage a namespace, please contact System Admin.
    </p>
  </div>
</div>
