<div class="q-page server-list">
  <div class="resource-body">

    <div class="nav nav-tabs">

      <div class="drop-menu pull-left brand-selector" uib-dropdown>
        <div uib-dropdown-toggle >
          <span translate>{{ctrl.filter.text}}</span>
        </div>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li role="menuitem" ng-repeat="filter in ctrl.filters">
            <a ng-click="ctrl.goFilter(filter)" >
              <span translate>{{filter.text }}</span>
  	        </a>
          </li>
        </ul>
      </div>

      <qn-search-box class="pull-right"
        value="ctrl.searchKey"
        value-change="ctrl.searchChange()"
        placeholder="{{ 'SEARCH' | translate }}"></qn-search-box>
      <button class="btn btn-mute btn-default btn-sm pull-right" ng-click="ctrl.autoLoad()" translate="REFRESH"></button>
    </div>

    <div class="content">

      <table class="q-table">
        <thead>
          <tr>
            <th></th>
            <th translate>NAME</th>
            <th translate>STATUS</th>
            <th translate>DISK_HEALTH</th>
            <th translate>CORE_PROCESS_STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="(ctrl.data.items.length == 0) && ctrl.loaded">
            <td colspan="5" class="text-center text-sub" translate>EMPTY</td>
          </tr>
          <tr ng-repeat="s in ctrl.data.items">
            <td class="row-icon"><i class="fa fa-server"></i></td>
            <td
            ><a ng-click="ctrl.goDetail(s)">{{s.name}}</a></td>
            <td>
              <status-tag label="s.status.toUpperCase()" type="s.status | commonStatusTypeFilter"></status-tag>
            </td>

            <td>
              <status-tag
                ng-repeat="(key, value) in s.summary.diskHealth"
                ng-if="value > 0"
                label="key.toUpperCase()"
                value="value"
                type="key | commonStatusTypeFilter"></status-tag>
            <td>
              <status-tag
                  ng-repeat="(key, value) in s.summary.processStatus"
                  ng-if="value > 0"
                  label="key"
                  value="value"
                  type="key | commonStatusTypeFilter"></status-tag>
            </td>
          </tr>
          <tr ng-if="!ctrl.loaded && !ctrl.data.items">
            <td colspan="5" class="text-center text-sub">
              <qn-loading></qn-loading>
            </td>
          </tr>
        </tbody>
      </table>
      <div uib-pagination
        ng-show="ctrl.data.total > ctrl.data.perpage"
        force-ellipses="true"
        total-items="ctrl.data.total"
        items-per-page="ctrl.data.perpage"
        ng-model="ctrl.data.page"
        ng-change="ctrl.pageChanged()"
        max-size="5"
        class="pagination-sm pull-right"></div>
      </div>

  </div>
</div>
