<div class="q-page ebd">
  <div class="resource-body">

    <!-- EBD Master -->
    <div class="group">
      <div class="preview" ng-click="isEbdMC = !isEbdMC" ng-class="{'active': isEbdMC}">
        <div ng-if="ctrl.ebdM.stats.$resolved == false">
          <qn-loading></qn-loading>
        </div>
        <div ng-if="ctrl.ebdM.stats.$resolved != false">
          <span class="title">EBD Master</span>
          <i class="fa {{ ctrl.ebdM.stats.available == ctrl.ebdM.stats.total ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'}}"></i>
          <span class="status">{{ctrl.ebdM.stats.available}}/{{ctrl.ebdM.stats.total}} <span translate="INSTANCE_AVALIABLE"></span></span>
          <i class="fa toggle-icon {{isEbdMC ? 'fa-angle-up' : 'fa-angle-down'}}"></i>
        </div>
      </div>
      <div class="content" uib-collapse="!isEbdMC" expanding="ctrl.expand('ebdM')">
        <qn-loading ng-if="ctrl.ebdM.instsLoading"></qn-loading>
        <table class="q-table instances" ng-if="!ctrl.ebdM.instsLoading">
          <thead>
            <tr>
              <th translate>INSTANCES</th>
              <th translate>STATUS</th>
              <th translate>ROLE</th>
              <th translate>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!ctrl.ebdM.instsLoading && ctrl.ebdM.insts.length == 0">
              <td colspan="4" class="text-center text-sub" translate>EMPTY</td>
            </tr>
            <tr ng-repeat="inst in ctrl.ebdM.insts">
              <td>{{inst.host}}</td>
              <td>
                <status-tag label="inst.status.toUpperCase()" type="inst.status | commonStatusTypeFilter"></status-tag>
              </td>
              <td>{{inst.role}}</td>
              <td><a ng-click="ctrl.gotoServer(inst.host)" translate>SERVER_DETAIL</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- ECB -->
    <div class="group">
      <div class="preview" ng-click="isEcbC = !isEcbC" ng-class="{'active': isEcbC}">
        <div ng-if="ctrl.ecb.stats.$resolved == false">
          <qn-loading></qn-loading>
        </div>
        <div ng-if="ctrl.ecb.stats.$resolved != false">
          <span class="title">ECB</span>
          <i class="fa {{ ctrl.ecb.stats.available == ctrl.ecb.stats.total ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'}}"></i>
          <span class="status">{{ctrl.ecb.stats.available}}/{{ctrl.ecb.stats.total}} <span translate="INSTANCE_AVALIABLE"></span></span>
          <i class="fa toggle-icon {{isEcbC ? 'fa-angle-up' : 'fa-angle-down'}}"></i>
        </div>
      </div>
      <div class="content" uib-collapse="!isEcbC" expanding="ctrl.expand('ecb')">
        <qn-loading ng-if="ctrl.ecb.instsLoading"></qn-loading>
        <table class="q-table instances" ng-if="!ctrl.ecb.instsLoading">
          <thead>
            <tr>
              <th translate>INSTANCES</th>
              <th translate>STATUS</th>
              <th translate>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!ctrl.ecb.instsLoading && ctrl.ecb.insts.length == 0">
              <td colspan="3" class="text-center text-sub" translate>EMPTY</td>
            </tr>
            <tr ng-repeat="inst in ctrl.ecb.insts">
              <td>{{inst.host}}</td>
              <td>
                <status-tag label="inst.status.toUpperCase()" type="inst.status | commonStatusTypeFilter"></status-tag>
              </td>
              <td><a ng-click="ctrl.gotoServer(inst.host)" translate>SERVER_DETAIL</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- EBD Storage -->
    <div class="group">
      <div class="preview" ng-click="isEbdSC = !isEbdSC" ng-class="{'active': isEbdSC}">
        <div ng-if="ctrl.ebdS.statsI.$resolved == false || ctrl.ebdS.statsD.$resolved == false">
          <qn-loading></qn-loading>
        </div>
        <div ng-if="ctrl.ebdS.statsI.$resolved != false && ctrl.ebdS.statsD.$resolved != false">
          <span class="title">EBD Storage</span>
          <i class="fa {{ ctrl.ebdS.statsI.available == ctrl.ebdS.statsI.total ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'}}"></i>
          <span class="status">{{ctrl.ebdS.statsI.available}}/{{ctrl.ebdS.statsI.total}} <span translate="INSTANCE_AVALIABLE"></span></span>;
          <span class="status">{{ctrl.ebdS.statsD.available}}/{{ctrl.ebdS.statsD.total}} <span translate="DISK_AVALIABLE"></span></span>
          <i class="fa toggle-icon {{isEbdSC ? 'fa-angle-up' : 'fa-angle-down'}}"></i>
        </div>
      </div>
      <div class="content" uib-collapse="!isEbdSC" expanding="ctrl.expand('ebdS')">
        <qn-loading ng-if="ctrl.ebdS.instsLoading"></qn-loading>
        <table class="q-table instances" ng-if="!ctrl.ebdS.instsLoading">
          <thead>
            <tr>
              <th translate>INSTANCES</th>
              <th translate>STATUS</th>
              <th translate>USING_DISK_NUMBER</th>
              <th translate>BROCKEN_DISK_NUMBER</th>
              <th translate>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!ctrl.ebdS.instsLoading && ctrl.ebdS.insts.length == 0">
              <td colspan="5" class="text-center text-sub" translate>EMPTY</td>
            </tr>
            <tr ng-repeat="inst in ctrl.ebdS.insts">
              <td>{{inst.host}}</td>
              <td>
                <status-tag label="inst.status.toUpperCase()" type="inst.status | commonStatusTypeFilter"></status-tag>
              </td>
              <td><a ng-click="ctrl.showDisksPanel(inst, 'total', $event)">{{inst.diskTotal}}</a></td>
              <td><a ng-click="ctrl.showDisksPanel(inst, 'bad', $event)">{{inst.diskBad}}</a></td>
              <td><a ng-click="ctrl.gotoServer(inst.host)" translate>SERVER_DETAIL</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="disk-list-panel"
      ng-if="ctrl.diskListPanel.isShow"
      style="left: {{ctrl.diskListPanel.left}}px; top: {{ctrl.diskListPanel.top}}px;">

      <table class="q-table">
          <thead>
            <tr>
              <th translate>ID</th>
              <th translate>MOUNT_POINT</th>
              <th translate>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="(ctrl.diskListPanel.disks.length == 0)">
              <td colspan="3" class="text-center text-sub" translate>EMPTY</td>
            </tr>
            <tr ng-repeat="disk in ctrl.diskListPanel.disks">
              <td>{{disk.id}}</td>
              <td>{{disk.path}}</td>
              <td>
                <status-tag label="disk.status.toUpperCase()" type="disk.status | commonStatusTypeFilter"></status-tag>
              </td>
            </tr>
            <tr ng-if="ctrl.diskListPanel.disks.$resolved == false">
              <td colspan="3" class="text-center text-sub">
                <qn-loading></qn-loading>
              </td>
            </tr>
          </tbody>
        </table>

    </div>

  </div>
</div>
