<table class="q-table">
  <thead>
    <tr>
      <th></th>
      <th ng-click="$ctrl.changeOrder('name')" translate>NAME</th>
      <th ng-click="$ctrl.changeOrder('usedCap')" translate>USED_CAPACITY</th>
      <th ng-click="$ctrl.changeOrder('objNum')" translate>OBJECT_NUMBER</th>
      <th translate>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="($ctrl.bucketModel.length == 0) && $ctrl.bucketLoaded">
      <td colspan="5" class="text-center text-sub" translate>EMPTY</td>
    </tr>
    <tr ng-repeat="bucket in $ctrl.bucketModel | orderBy: $ctrl.orderArray">
      <td class="row-icon"><i class="fa fa-codepen"></i></td>
      <td>{{bucket.name}}</td>
      <td>{{bucket.usedCap | fileSize}}</td>
      <td>{{bucket.objNum}}</td>
      <td>
        <!--<a class="btn-action action" ng-click="$ctrl.bucketActions.history(bucket)" translate>HISTORY</a>-->
        <!--<a class="btn-action action" ng-click="$ctrl.bucketActions.edit(bucket)" translate>EDIT</a>
        <a class="btn-action action" ng-click="$ctrl.bucketActions.delete(bucket)" translate>DELETE</a>-->
        <a class="btn-action action" ng-click="$ctrl.bucketActions.domain(bucket)" translate>DOMAIN_MANAGEMENT</a>
        <a class="btn-action action" ng-click="$ctrl.bucketActions.history(bucket)" translate>HISTORY_USAGE</a>
      </td>
    </tr>
    <tr ng-if="!$ctrl.bucketLoaded">
      <td colspan="5" class="text-center text-sub">
        <qn-loading></qn-loading>
      </td>
    </tr>
  </tbody>
</table>
