<div class="q-page common-resource-instance-list">
  <div class="resource-body">

    <ul class="nav nav-tabs">

      <div class="brand-name pull-left">
        {{ctrl.instance.instance}}
      </div>
      <!--<div class="drop-menu brand-selector pull-left" uib-dropdown>
        <div uib-dropdown-toggle>
          {{ctrl.instance.instance}}
        </div>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li role="menuitem" ng-repeat="instance in ctrl.instances"><a ng-click="ctrl.goInstance(instance)">{{instance.instance}}</a></li>
        </ul>
      </div>-->

      <li ng-repeat="tab in ctrl.tabs" ng-class="{active: tab == ctrl.currentTab}">
        <a translate="{{tab}}" ng-click="ctrl.currentTab = tab" ng-if="$index == 1"></a>
      </li>

      <button class="btn btn-sm btn-mute btn-default pull-right" ng-click="ctrl.onUpdate()" translate="REFRESH"></button>
      <date-range
        class="pull-right"
        config="['hour', 'day', 'week']"
        ng-show="ctrl.currentTab == ctrl.tabs[1]"
        on-change="ctrl.onDateChange(dateStart, dateEnd)">
      </date-range>
    </ul>

    <!-- 性能图表 -->
    <div class="tab-content" ng-if="ctrl.currentTab == ctrl.tabs[1]">
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.responseTime'></qn-chart>
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.transaction'></qn-chart>
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.errorRate'></qn-chart>
      <qn-chart qn-chart-config='ctrl.performanceTab.charts.throughput'></qn-chart>
    </div>

  </div>
</div>
