<div class="q-page common-resource-instance-list">
  <div class="resource-body">

    <ul class="nav nav-tabs">

      <div class="drop-menu brand-selector pull-left" uib-dropdown>
        <div uib-dropdown-toggle>
          {{ctrl.instance.host}}
        </div>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li role="menuitem" ng-repeat="instance in ctrl.instances"><a ng-click="ctrl.goInstance(instance)">{{instance.host}}</a></li>
        </ul>
      </div>

      <li class="active">
        <a translate="{{ctrl.tabs[0]}}"></a>
      </li>

      <button class="btn btn-sm btn-mute btn-default pull-right" ng-click="ctrl.onUpdate()" translate="REFRESH"></button>
      <date-range
        class="pull-right"
        config="['hour', 'day', 'week']"
        on-change="ctrl.onDateChange(dateStart, dateEnd)">
      </date-range>
    </ul>

    <!-- 性能图表 -->
    <div class="tab-content">
      <qn-chart
        ng-repeat="chart in ctrl.performanceTab"
        qn-chart-config='chart'>
      </qn-chart>
    </div>

  </div>
</div>
