<button type="button" class="close" ng-click="$dismiss()"><i class="qi qi-close"></i></button>

<div class="modal-center-wrapper">
  <div class="modal-header">
    <h6 class="modal-title text-center bold">
      <span>新用户</span>
    </h6>
  </div>

  <div class="modal-body user-modal modal-user-create">
    <div class="form-group form-inline text-center center-block">
      <form name="form" class="center-form clearfix">

        <div class="row">
          <div class="item-title col-md-3">
            <span>用户名</span>
          </div>
          <div class="item-body col-md-9">
            <div class="form-group form-inline"
              ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
              <input type="text" class="form-control" name="name"
                ng-disabled="ctrl.isSubmitting"
                ng-model="ctrl.user.name"
                required
                ng-model-options="ctrl.ngModelOptions">
            </div>
            <p class="help-block text-left text-danger" ng-show="form.name.$invalid && form.name.$dirty">用户名不能为空</p>
          </div>
        </div>
        <div class="row">
          <div class="item-title col-md-3">
            <span>邮箱</span>
          </div>
          <div class="item-body col-md-9">
            <div class="form-group form-inline"
              ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty }">
              <input type="text" class="form-control" name=" email"
                ng-disabled="ctrl.isSubmitting"
                ng-model="ctrl.user.email"
                required
                ng-model-options="ctrl.ngModelOptions">
            </div>
            <p class="help-block text-left text-danger" ng-show="form.email.$invalid && form.email.$dirty">邮箱不能为空</p>
          </div>
        </div>
        <div class="row">
          <div class="item-title col-md-3">
            <span>密码</span>
          </div>
          <div class="item-body col-md-9">
            <div class="form-group form-inline"
              ng-class="{ 'has-error': form.password.$invalid && form.password.$dirty }">
              <input type="password" class="form-control" name="password"
                ng-disabled="ctrl.isSubmitting"
                ng-model="ctrl.user.password"
                required
                ng-model-options="ctrl.ngModelOptions">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="item-title col-md-3">
            <span>确认</span>
          </div>
          <div class="item-body col-md-9">
            <div class="form-group form-inline"
              ng-class="{ 'has-error': form.confirm.$invalid && form.confirm.$dirty }">
              <input type="password" class="form-control" name="confirm"
                ng-disabled="ctrl.isSubmitting"
                ng-model="ctrl.confirm"
                required
                validate-same-with="ctrl.user.password"
                ng-model-options="ctrl.ngModelOptions">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="item-title col-md-3">
            <span>权限</span>
          </div>
          <div class="item-body col-md-9">
            <div class="form-group form-inline">
              <label class="radio-btn" ng-class="{ 'selected': type == '3' }">
                <input type="radio" ng-model="ctrl.user.role" value="admin"
                ng-disabled="ctrl.isSubmitting" required>
                <span translate>管理员</span>
              </label>
              <label class="radio-btn" ng-class="{ 'selected': type == '2' }">
                <input type="radio" ng-model="ctrl.user.role" value="user"
                  ng-disabled="ctrl.isSubmitting" required>
                <span translate>普通用户</span>
              </label>
            </div>
          </div>
        </div>

      </form>
      <qn-loading ng-show="ctrl.isSubmitting"></qn-loading>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button type="button" class="btn btn-default btn-lg btn-mute"
        ng-click="$dismiss()"
        ng-disabled="ctrl.isSubmitting">取消</button>
      <button type="button" class="btn btn-primary btn-lg btn-emphasis"
        ng-click="ctrl.submit()"
        ng-disabled="ctrl.isSubmitting || form.$invalid">确认</button>
    </div>
  </div>
</div>

