<div class="q-page manage-buckets">
  <div ng-if="ctrl.namespaceId" class="resource-body">

    <div class="actions clearfix">
      <div class="brand-name pull-left">
        {{ctrl.namespaceName}}
      </div>

      <a class="btn btn-primary pull-left"
        ng-show="ctrl.opUser.role == 1 || !ctrl.systemConfig.complexMode"
        ng-click="ctrl.openAddDialog()">
        <span translate>NEW</span>{{'WHITE_SPACE' | translate}}<span translate>BUCKET</span>
      </a>

      <qn-search-box class="pull-right"
        value="ctrl.searchKey"
        value-change="ctrl.searchChange()"
        placeholder="{{ 'SEARCH' | translate }}"></qn-search-box>
      <button class="btn btn-mute btn-default pull-right" ng-click="ctrl.pageChanged()" translate="REFRESH"></button>
    </div>

    <div class="content">

      <bucket-explorer bucket-model="ctrl.data.items" bucket-loaded="ctrl.loaded" bucket-actions="ctrl.actions"></bucket-explorer>

      <div uib-pagination
        ng-show="ctrl.data.total > ctrl.data.perpage"
        force-ellipses="true"
        total-items="ctrl.data.total"
        items-per-page="ctrl.data.perpage"
        ng-model="ctrl.data.page"
        ng-change="ctrl.pageChanged()"
        max-size="5"
        class="pagination-sm pull-right"></div>

    </div>

  </div>

  <div ng-if="!ctrl.namespaceId" class="resource-body">
    <p class='warning'>
      <i class="fa fa-warning"></i>
      <span translate>NO_ASSIGNED_NAMESPACE</span>
    </p>
  </div>
</div>
