<table class="q-table">
  <thead>
    <tr>
      <th></th>
      <th ng-click="$ctrl.changeOrder('name')" translate>NAME</th>
      <th ng-click="$ctrl.changeOrder('usedCap')" translate>USED_CAPACITY</th>
      <th ng-click="$ctrl.changeOrder('objNum')" translate>OBJECT_NUMBER</th>
      <th ng-click="$ctrl.changeOrder('admin')" translate ng-if="$ctrl.systemConfig.complexMode">ADMIN</th>
      <th translate>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="($ctrl.nsModel.length == 0) && $ctrl.nsLoaded">
      <td colspan="{{$ctrl.systemConfig.complexMode?6:5}}" class="text-center text-sub" translate>No Namespace</td>
    </tr>
    <tr ng-repeat="ns in $ctrl.nsModel | orderBy: $ctrl.orderArray | filter: {name: $ctrl.nsFilterKey}">
      <td class="row-icon"><i class="fa fa-folder-open"></i></td>
      <td>{{ns.name}}</td>
      <td>{{ns.usedCap | fileSize}}</td>
      <td>{{ns.objNum}}</td>
      <td ng-if="$ctrl.systemConfig.complexMode">{{ns.admin.name ? ns.admin.name : 'None'}}</td>
      <td>
        <a class="btn-action action" ng-click="$ctrl.nsActions.buckets(ns)" translate>BUCKETS</a>
        <a class="btn-action action"
          ng-if="!$ctrl.systemConfig.complexMode"
          ng-click="$ctrl.nsActions.keys(ns)" translate>KEYS</a>
        <!--<a class="btn-action action" ng-click="$ctrl.nsActions.history(ns)" translate>HISTORY</a>-->
        <!--<a class="btn-action action" ng-click="$ctrl.nsActions.edit(ns)" translate>EDIT</a>
        <a class="btn-action action" ng-click="$ctrl.nsActions.delete(ns)" translate>DELETE</a>-->
      </td>
    </tr>
    <tr ng-if="!$ctrl.nsLoaded">
      <td colspan="{{$ctrl.systemConfig.complexMode?6:5}}" class="text-center text-sub">
        <qn-loading></qn-loading>
      </td>
    </tr>
  </tbody>
</table>
